.contact-us{
    margin: 0 auto;
    margin-top: 110px;
    margin-bottom: 130px;
    width: 335px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
.form-class{
    font-size: 32px;
    font-weight: 500;
    padding-bottom: 57px;
    
}
.contact-form input{
    margin-bottom: 32px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #979797;
}
.contact-form input::placeholder{
    color: black;
    font-size: 14px;
    font-weight: 500;
}